---
import { getCollection } from "astro:content";
import Layout from "../../layout/Layout.astro";
export async function getStaticPaths() {
  const pastRuns = await getCollection("pastRun");
  return pastRuns.map((run) => ({
    params: { slug: run.data.slug },
    props: { run },
  }));
}
---

<Layout>
  <main
    class="container mx-auto rounded-4xl bg-white py-8 px-4 md:px-10 xl:px-20 max-w-7xl w-[calc(100%_-_32px)] xl:w-full"
  >
    <h1 class="text-center text-5xl md:text-6xl">
      Past Run - <span class="text-orange font-bold">2025</span>
    </h1>
  </main>
</Layout>
