---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  images: CollectionEntry<"pastRun">["data"]["gallery"];
}

const { images } = Astro.props;
---

<div class="mb-12 relative" id="image-gallery-parent">
  <div class="embla overflow-hidden" id="imageGallery">
    <div class="embla__container">
      {
        images &&
          images.map((image, index) => (
            <div class="embla__slide relative cursor-grab">
              <Image
                src={image.src}
                alt={image.alt}
                class="w-full object-cover rounded-lg brightness-50 md:brightness-75 aspect-video"
                loading={index == 0 ? "eager" : "lazy"}
                fetchpriority={index == 0 ? "high" : "auto"}
              />
              {image.caption && (
                <p class="text-center text-2xl md:text-4xl text-white mx-auto w-full mt-2 absolute bottom-6 lg:bottom-14 font-medium lg:font-semibold max-w-prose block px-5">
                  {image.caption}
                </p>
              )}
            </div>
          ))
      }
    </div>
  </div>
  <button
    class="embla__prev absolute -left-3 md:-left-6 lg:-left-10 xl:-left-16 top-1/2 -translate-y-1/2 bg-white cursor-pointer hover:text-white transition text-xl md:text-3xl rounded-full size-10 md:size-12 hover:bg-brown grid place-items-center shadow-lg z-10 disabled:shadow-none disabled:opacity-50 disabled:cursor-not-allowed"
    aria-label="Prev Slide"
  >
    <Icon name="chevron-left" />
  </button>
  <button
    class="embla__next absolute -right-3 md:-right-6 lg:-right-10 xl:-right-16 top-1/2 -translate-y-1/2 bg-white cursor-pointer hover:text-white text-xl md:text-3xl rounded-full size-10 transition md:size-12 hover:bg-brown grid place-items-center shadow-lg z-10 disabled:shadow-none disabled:opacity-50 disabled:cursor-not-allowed"
    aria-label="Next Slide"
  >
    <Icon name="chevron-right" />
  </button>
</div>

<style>
  .embla {
    position: relative;
    max-width: 100%;
    margin: auto;
  }

  .embla__container {
    display: flex;
    gap: 1rem;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    margin-left: 2rem;
  }
</style>
<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";
import { addPrevNextBtnsClickHandlers } from "../../lib/embla";

  document.addEventListener("astro:page-load", () => {
    const imageGalleryParent = document.querySelector<HTMLElement>(
      "#image-gallery-parent",
    )!;
    const prevBtn = imageGalleryParent.querySelector<HTMLElement>(".embla__prev");
    const nextBtn = imageGalleryParent.querySelector<HTMLElement>(".embla__next");
    // Initialize Image Gallery Carousel
    const imageGalleryNode = document.getElementById("imageGallery");
    if (imageGalleryNode && typeof EmblaCarousel !== "undefined") {
      const embla = EmblaCarousel(
        imageGalleryNode,
        {
          loop: true,
          align: "center",
        },
        [
          Autoplay({
            stopOnInteraction: false,
            stopOnFocusIn: false,
            delay:5000
          }),
        ],
      );
      const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(
        embla,
        prevBtn!,
        nextBtn!
      );

      embla.on("destroy", removePrevNextBtnsClickHandlers);
    }
  });
</script>
