---
import { Icon } from "astro-icon/components";
const LINKS = [
  {
    text: "Instagram",
    icon: "instagram",
    link: "https://www.instagram.com/",
  },
  {
    text: "Discord",
    icon: "discord",
    link: "https://www.discord.com/",
  },

  {
    text: "telegram",
    icon: "telegram",
    link: "https://www.telegram.com/",
  },
  {
    text: "Youtube",
    icon: "youtube",
    link: "https://www.youtube.com/",
  },
  {
    text: "Tiktok",
    icon: "tiktok",
    link: "https://www.tiktok.com/",
  },

  {
    text: "Facebook",
    icon: "facebook",
    link: "https://www.facebook.com/",
  },
  {
    text: "Linkedin",
    icon: "linkedin",
    link: "https://www.linkedin.com/",
  },
  {
    text: "Linktree",
    icon: "linktree",
    link: "https://linktr.ee/",
  },
];
---

<footer
  class="flex flex-wrap gap-y-8 container mx-auto pt-9 md:px-10 xl:px-12 pb-11 px-4 my-12 items-center justify-between bg-background rounded-2xl gap-x-8 bg-white w-[calc(100%_-_32px)] 2xl:w-full"
>
  {
    LINKS.map((link) => (
      <a
        href={link.link}
        class:list={[
          "rounded-full p-2 border shadow-[4px_4px] hover:shadow-[7px_7px] transition-all ease-in-out hover:shadow-black shadow-gray-500",
          {
            "bg-blue-500 text-white": link.icon == "facebook",
            "bg-black text-white": link.icon == "tiktok",
            "bg-red-500 text-white": link.icon == "youtube",
            "bg-purple-700 text-white": link.icon == "instagram",
            "bg-sky-600 text-white": link.icon == "telegram",
            "bg-lime-500 text-black": link.icon == "linktree",
            "bg-indigo-600 text-white": link.icon == "discord",
            "bg-blue-600 text-white": link.icon == "linkedin",
          },
        ]}
      >
        <div class="size-10 place-items-center grid text-3xl">
          <Icon name={link.icon} />
        </div>
      </a>
    ))
  }
</footer>
